body{
  background-color: goldenrod;
}
.container{
  display: flex;
  justify-content: space-around;
}

.card{
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 width: 300px;
 border-radius: 13px;
 padding:10px 0px;
 padding-bottom: 100px;
}

img{
  width: 80;
  margin-top: 15px;
}
.menu{
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;

 
  align-self:auto;
}
.line{
  border: 2px solid yellow;
}
a{
  color: grey;
}
.card > p{
font-style: italic;
color: grey;
font-size: small;
}
.one{
  text-align: left;
}
.second{
  text-align: right;
}
  
